if [[ `uname` == 'Darwin' ]] ; then
    alias ll='ls -f -lah'
else
    alias ll='ls -lah'
fi

alias appcode='open -a AppCode'
if [ -x "$(command -v ccat)" ]; then
    alias cat=ccat
fi
alias count-source="find . \( -iname \*.java -o -iname \*.m -o -iname \*.mm -o -iname \*.c -o -iname \*.swift -o -iname \*.cc -o -iname \*.h \) -exec wc -l '{}' \+"
alias docker-compose-prod="docker-compose -f docker-compose.yml -f docker-compose.prod.yml"
alias dstats='docker stats $(docker ps --format={{.Names}})'
alias finder='open -a Finder'
alias ij='open -a "IntelliJ IDEA 14 CE"'
alias llt='ls -lahtcr'
alias mikenv="mosh --ssh='ssh -p 2222' mikumi@mikenv.michael-kuck.com -- sh -c 'tmux attach -t base || tmux new -s base'"
alias mvi='mvim'
alias plist='plutil -convert xml1 -o /dev/stdout'
alias sl='open -a "Sublime Text.app"'
alias slcopy='pbcopy && tmpfile=$(mktemp /tmp/slcopy.XXXXXX) && pbpaste > $tmpfile && sl $tmpfile'
alias st='open -a SourceTree'
alias t='tmux attach -t base || tmux new -s base'
alias vi=vim
alias webstorm='open -a WebStorm'

# Generic colorizer

