alias ll='ls -lah'
alias sl='open -a "Sublime Text.app"'
alias vi=vim
alias mvi='mvim'
alias st='open -a SourceTree'
alias ij='open -a "IntelliJ IDEA 14 CE"'
alias appcode='open -a AppCode'
alias finder='open -a Finder'
alias t='tmux attach -t base || tmux new -s base'
